mixin card(link, img_src, img_alt, title, description, inst, inst_full)

    article.group.w-64.img-scale(class="hover:drop-shadow-2xl hover:-translate-y-1 hover:scale-110 transition-all duration-500 ease-in-out")

        a(href=link)
            .relative.mx-auto.max-w-md.overflow-hidden.rounded-lg.bg-zinc-800.shadow
                div(class="hover:scale-125 transition-all")
                    img.w-full.object-cover(src="#{img_src}" alt="#{img_alt}")

                div.absolute.inset-0.z-10.bg-gradient-to-t.from-black

                div.absolute.inset-x-0.bottom-0.z-20.p-4
                    p.mb-1.text-sm.text-white.text-opacity-80
                        | #{img_alt} •
                        time #{inst_full}

                    h3.text-xl.font-medium.text-white= title

                    p.mt-1.text-white.text-opacity-80.text-xs= description



.card-group

    - var title = "Organization"
    - var description = "Manage your organization's information."
    - var img_src = "/static/img/flowrate-logo-v0.4.png"
    - var img_alt = "Pharmacy"
    - var link = "/org/"

    +card(link, img_src, img_alt, title, description, inst, inst_full)

    - var title = "Organization Admin"
    - var description = "Manage Employees, Departments, and Schedule Structures for the application to utilize."
    - var img_src = "/static/img/schedule.png"
    - var img_alt = "Pharmacy"
    - var link = "#"

    +card(link, img_src, img_alt, title, description)

    - var title = "Employees"
    - var description = "Manage your organization's employees"
    - var img_src = "/static/img/employees.png"
    - var img_alt = "Employees"
    - var link = "#"

    +card(link, img_src, img_alt, title, description)





