extends base

block styles
    style.
        .op50 {opacity: 0.5;}
        .sm {font-size: 0.7em;}


block content
    a(href="../../")
        iconify-icon(icon="mdi:chevron-left")
        | #{shift.department.name}

    h1= shift.name
    h2= shift.full_name

    .flexrow
        div
            table.bordered
                tr
                    td.sm.op50 Department
                    td= shift.department
                tr
                    td.sm.op50 Start Time
                    td= shift.start_time
                tr
                    td.sm.op50 Hours
                    td #{shift.hours} hrs.

            table.bordered
                thead
                    tr= shift.get_weekdays_display
        div
            h3 Trained Employees
            table.bordered
                each emp in shift.trained.all
                    tr
                        td.sm.op50= emp
                        td
                            button Remove