mixin fill-button(option)
    a.bg-zinc-800.px-2.rounded.text-zinc-200.mx-1(
        href="assign/#{option}/"
        class="hover:bg-zinc-700 hover:ring")
            | Assign
            iconify-icon(icon="mdi:account-check")

dialog#option-explorer.bg-zinc-800
        h3.text-3xl.text-white #{slot.shift} #{slot.date}
        h2.text-md.text-teal-200.font-thin Option Explorer

        table.rounded-lg.bg-gray-950.bg-opacity-25
            tr.text-zinc-300.text-xs
                th Employee
                th Week Needed
                th Period Needed
                th Actions

            each option in fills_with.all
                tr(data-checks-ok=option.checks_ok)

                    td
                        span= option.employee
                        a.pr-3(href=option.employee.url)
                            iconify-icon(icon="mdi:account-circle")

                    td #{option.hours_needed_in_week}hrs

                    td #{option.hours_needed_in_period}hrs

                    td
                        if option.checks_ok
                            +fill-button(option.employee.slug)

                        else
                            if option.exceeds_period_fte
                                iconify-icon.iconify(data-icon="fluent:calendar-week-start-20-regular")
                            if option.exceeds_week_fte
                                iconify-icon.iconify(data-icon="ci:calendar-week")
                            if option.other_on_day
                                iconify-icon.iconifty(data-icon="bi:calendar-check" color="black")
                            if option.other_on_conflicting
                                iconify-icon.iconifty(data-icon="ic:twotone-u-turn-right")



script.
    document.querySelectorAll('tr[data-checks-ok="False"]').forEach(function(e) {
        e.classList.add('op25');
    });