//- TEMPLATE <EMPL-DETAIL>
extends base

block styles
    style.
        h1 {margin-bottom: 0px; padding-bottom: 0px;}
        .available {color: #b7e28c; font-size: 10px;}
        .unavailable {color: #e28c8c; font-size: 10px;}
        .dx-header {font-size: 20px; font-weight: 200; color: #4fb2d3aa; bottom: 22px;}
        .px2 {padding-left: 4px; padding-right: 4px;}
        .flexrow {display: flex; justify-content: start; align-items: flex-start;}
        .nobreak {white-space: nowrap;}
        .xxs {font-size: 10px; color: #999;}

block content

    .m-10

        a(href="../../")
            iconify-icon(icon="mdi:chevron-left")
            | #{employee.department.full_name}

        hgroup.mb-3
            h1.text-3xl= employee
            h3.text-lg.font-bold EMPLOYEE
            hr

        a.bg-zinc-200.bg-opacity-25.rounded.px-2.float-right.text-xs.text-white(
            href="/admin/empl/employee/#{employee.id}/change/"
            class="hover:bg-opacity-50 hover:bg-red-400")
            | Edit Employee

        .grid.grid-cols-2.gap-4.place-content-stretch
            .bordered.w-fit
                table
                    each shift in employee.trainings.all
                        tr
                            td
                                a(href='#{shift.shift.url}')= shift.shift.name
                            td
                                if shift.is_available
                                    span.available AVAILABLE
                                else
                                    span.unavailable UNAVAILABLE


            if template_set != None
                include ../template-set/tset.pug
            else
                a(href="template-set/") Create Template Set





